# Web
PORT=3000
SERVER_PORT=3001

# Server
PROJECT_SLUG="binpar"
CLOUDFRONT_URL="https://binpar-cdn-test.binpar.online"
JWT_SECRET="SECRET_FOR_REDIS_TOKEN"
REDIS_URL="rediss://redis.url"
BOOKS_S3_KEYS="s3key1,s3key2"

# Dev
WITH_NGROK=1
NGROK_AUTHTOKEN=""