@import url('./reset.css');
@import url('./vars.css');

html {
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: hidden;
}

body {
  height: 100%;
  background-color: gray;
  /* user-select: none; */
}

#container {
  height: 100%;
  overflow: hidden;
}

.flow {
  text-align: justify;
  /* scroll-snap-type: x mandatory;
  scroll-padding-inline-start: calc(var(--column-gap) / 2); */
  will-change: column-count;
  /* column-width: var(--column-width); */
  column-count: var(--column-count);
  column-gap: var(--column-gap);
  padding-inline: calc(var(--column-gap) / 2);
}

.flow > * {
  scroll-snap-align: start;
  content-visibility: auto;
  display: inline;
}

.flow > *::after {
  content: '\A';
  white-space: pre;
}

.rg-buttons-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000043f;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.rg-button {
  width: 3rem;
  height: 3rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
