html {
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: gray;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

#container {
  height: 100%;
  overflow: hidden;
  background-color: sandybrown;
}

/* #container::-webkit-scrollbar {
  display: none;
} */

#bg-cleaner {
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

.fixed #bg-cleaner {
  background-color: #eee;
}

#viewer {
  position: relative;
  float: left;
  width: 100%;
  height: 100svh;
  z-index: 20;
  margin-top: var(--viewer-margin-top);
  pointer-events: var(--pointer-events, auto);
}

#wrapper {
  position: relative;
  height: 100%;
  padding: var(--padding-top) 0 var(--padding-bottom) 0;
  clear: both;
  cursor: var(--drag-cursor, grab);
  user-select: none;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1))
    translate(var(--ui-left, 0), var(--ui-top, 0));
}

.ui-mode #wrapper {
  --scale: 0.75;
  --ui-left: 0;
  --ui-top: 0;
}

.flow.ui-mode #wrapper {
  --ui-top: calc(var(--pages-labels-height) * -1);
}

.flow #wrapper {
  height: calc(100% + 100px);
  padding: var(--padding-top) calc(var(--column-gap) / 2)
    calc(var(--padding-bottom) + calc(var(--pages-labels-height) * 2));
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.flow.horizontal #wrapper {
  column-count: var(--column-count);
  column-rule: 1px solid #eee;
  column-gap: var(--column-gap);
  column-width: var(--column-width);
  overflow-y: hidden;
  overflow-x: auto;
}

.flow.horizontal:not(.touching) #wrapper {
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.flow #content {
  text-align: justify;
}

#snaps-container {
  position: absolute;
  top: 0;
  left: 0;
}

#snaps-container > div {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: transparent;
  pointer-events: none;
  scroll-snap-align: start;
}

#page-labels-container {
  position: absolute;
  left: 0;
  top: calc(100% - calc(var(--pages-labels-height) * 2));
  height: var(--pages-labels-height);
  display: flex;
  flex-direction: row;
  padding-left: calc(var(--column-width) + var(--column-gap));
}

#page-labels-container > div {
  width: calc(var(--column-width) + var(--column-gap));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chapter-start,
#chapter-end {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
  -moz-user-select: var(--user-select-end);
  user-select: var(--user-select-end);
  -webkit-user-select: var(--user-select-end);
}

#chapter-start::before,
#chapter-start::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
}

#chapter-start::before {
  background-color: green;
}

#chapter-start::after {
  content: '';
  display: block;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 0, 0, 0)
  );
}

#chapter-start {
  break-after: column;
}

#chapter-end {
  break-before: column;
}

#content span[data-page]::before {
  content: '';
  display: block;
}
