#ui-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  max-width: calc(100% - 1rem);
  min-width: calc(100% - 1rem);
  left: 50%;
  top: -25svh;
  transform: translateX(-50%);
  background-color: #0000043f;
  border-radius: 0.5rem;
  padding-block: 1rem;
  gap: 1rem;
  z-index: 100;
}

.ui-mode #ui-container {
  top: 1rem;
}

#ui-container .button {
  aspect-ratio: 1/1;
  padding: 0.125rem;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  hyphens: auto;
}

#ui-container select {
  appearance: auto;
}

.dark #ui-container {
  filter: invert(1);
}
