#rg-ui-container {
  position: static;
  height: 0px;
  width: 0px;
  overflow: visible;
  left: 0;
  bottom: 0;
}

#rg-buttons-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000043f;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.rg-button {
  width: 3rem;
  height: 3rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
