#ui-container {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  background-color: #0000043f;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.button {
  width: 4rem;
  height: 2rem;
  font-size: .75rem;
  cursor: pointer;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
